body {
    background-image: url(moro2.jpg);
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bold;
    font-style: normal;
}
.wrapper {
  background-image: url(soldi.jpg);
  margin: 0 auto;
  width: 90rem;
  height: 50rem;
  padding: 1rem;
  border-style: solid;
  border-radius: 2rem;
  border-width: thick;
}
#data {
    display: flex;

    margin-top: 2rem;
    margin-left: 80%;
    border-radius: 8rem;
    border-style: solid ;
    width: 13rem;
    height: 13rem;
    text-align: center;
    align-items: center;
    color: #cc0000;
}
#h1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: bolder;
    border-style: solid;
    border-radius: 2rem;
    border-width: thick;
    margin-left: 30%;
    margin-right: 30%;
}
.fa-fighter-jet {
  display: flex;
    margin-left: 12rem;
}
.button {
  display: flex;
  margin-left: 42%;
  margin-right: 42%;
  font-family: 'Cutive Mono', sans-serif;
  font-size: 2rem;
  height: 4rem;
  border-radius: 5rem;

background: rgba(98,125,77,1);
background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);

}
#comments {
background-color: transparent;

font-size: 1.5rem;
border-radius: 0.5rem;
border-width: 0.5rem;
border-color: #336633;
margin-left: 30%;
margin-right: 30%;
width: 35rem;
height: 15rem;
font-family: 'Cutive Mono', sans-serif;
font-weight: bold;
font-style: normal;

}
#content {
  display: flex;
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 22%;
  border-radius: 1rem;
}
.btn-danger {
  margin-left: 30%;
  margin-right: 30%;
}
.zad {
   display: flex;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Cutive Mono', sans-serif;
  font-size: 2rem;
  height: 3rem;
}
.btn-danger {
    display: flex;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Cutive Mono', sans-serif;
}
.stopka {
    display: flex;
    margin-left: 80%;
    font-size: 1.5rem;
}
